<div class="footer">
    <p>Serwis randomem.pl korzysta z zasobów zewnętrznych witryn, nie naruszając praw określonych w ich regulaminach. Właściciel serwisu nie posiada żadnych praw do wyświetlanych obrazów oraz nie ponosi odpowiedzialności za ich treść oraz za ewentualne naruszenie praw autorskich.</p>
</div>
