@page "/" 
@inherits PageBase

<div class="page">
    <div class="meme">
        @if (memeUrl == "error")
        {
            ReloadComponent();
        }
        else
        {
            <img src=@memeUrl />
        }

    </div>
    <div class="panel">
        <div class="ad">
            @*<img src="https://ocdn.eu/pulscms-transforms/1/AfPk9kqTURBXy9lMjQ0MGE2NzRkZjdkMjNjMTE1MmY2OTE1OGYzYmVhZC5qcGVnkZMCzQNIAIKhMAWhMQE" class="adv" />*@
        </div>

        <div class="draw">
                <i class="fas fa-dice fa-10x" @onclick="GetUrl"></i>
        </div>
    </div>
</div>

@code{ 
    @inject NavigationManager NavigationManager;
    private void ReloadComponent()
    {
        NavigationManager.NavigateTo("/", true);
    }
}