@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #333333;
}

.navmenu {
    width: 100%;
    background-color: black;
    color: white;
}

.navContent {
    display: flex;
    justify-content: center;
}

.randomem {
    font-size: 45px;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 2vh;
}

.slogan {
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    margin-top: 34px;
    margin-left: 2vh;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
}

.ad {
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 2vh 2vw;
    display: none;
}

.adv {
    width: inherit;
    height: inherit;
}

.draw {
    margin-left: 20px;
    position: sticky;
    top: 2vh;
}

.fas {
    width: 100px;
    width: 100px;
    color: white;
}
.fas:hover {
    color: darkviolet;
}

.footer {
    display: flex;
    text-align: center;
    padding: 4px;
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 8px;
    word-wrap: break-word;
}
.footer text {
    margin: 0;
}
